body {
    background-color: #ccc;
    font-size: 14px;
    color: #fff;
}

ul {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-top: -25px;
    margin-left: -350px;
    list-style: none;
}

ul li {
    width: 24.4333%;
    display: inline-block;
    text-align: center;
}

ul li span {
    font-size: 42px;
    font-weight: bold;
}
