
/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

html,
body {
    margin: 0;
    padding: 0;
}

#landing,
#landing *,
#landing :before,
#landing :after {
    /*position: relative;*/
    /*margin: 0;*/
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-family: Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

#landing {
    width: 1500px;
    font-size: 16px;
    padding-top: 4.0625em;
    background: #fff;
    text-align: center;
}

#landing {
    font-size: 1.061vw;
    width: auto;
}

#landing>* {
    text-align: left;
}

#landing .button {
    display: inline-block;
    padding: .75em 1.4em;
    border-radius: 2em;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #99ce45;
    border: .125em solid #99ce45;
    color: #fff;
    transition: background 0.4s, color 0.4s, border-color 0.4s;
}

#landing .button:hover {
    background: transparent;
    color: #99ce45;
}

#landing .button:active {
    opacity: .5;
}

#landing .button-blue {
    background: #fe8f4f;
    border-color: #fe8f4f;
}

#landing .button-blue:hover {
    background: transparent;
    color: #fe8f4f;
}

#landing .button-orange {
    background: #fe8f4f;
    border-color: #fe8f4f;
}

#landing .button-orange:hover {
    background: transparent;
    color: #fe8f4f;
}

#landing>.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4.0625em;
    z-index: 100;
    background: rgba(31, 31, 31, 0.9);
    padding: .9em 1.25em;
    line-height: 2em;
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    word-spacing: 2.5em;
}

#landing>.header>* {
    display: inline-block;
    word-spacing: normal;
}

#landing>.header>.logo {
    display: inline-block;
    position: absolute;
    left: 2em;
    width: 12.66%;
    max-width: 11.8em;
    letter-spacing: -0.5em;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    background: url("https://i.imgur.com/KPTNONW.png") no-repeat center left;
    background-size: contain;
}

#landing>.header>.header-title {
    font-size: .875em;
    color: #fe8f4f;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;

    display: inline-block;
    position: absolute;
    left: 6em;
}


#landing>.header>.button {
    font-size: .75em;
    border-width: .18em;
}

#landing>.header>.login {
    font-size: .875em;
    color: #03b4fe;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    border: 0 solid transparent;
}

#landing>.header>.login:before {
    content: "";
    display: inline-block;
    width: 1.429em;
    height: 1.429em;
    margin: -0.2em 0.5em 0 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAUVBMVEUAAAABsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4pJ89bAAAAGnRSTlMA3etU5rMKqwaJW0hPRNAR88qUaybCgWI/MCVqoPAAAAC5SURBVBjTTZBXssMwDAOpZsmOS9or2fsfNBgqynh/RGKIIURzWqqBa6ip2ZcUgJyBkIY2Q1kns2ktMA8tXuzDJXY1EZ96Xr/zv55nJGlHZlOzIh4qNnKzhWIiIIKJwmKV1URGRHNP1cikaooueikD2cSBc3STXeURBVG8jLjdl4rNPvZKT77D3vNTRyS7wc1GpJY1Ov3tnvNxaDA3/2bhy08k9YOcGWe6c+J+PrLjRx60pQYpdWnevgG0mRAe7+n/PQAAAABJRU5ErkJggg==") no-repeat center center;
    background-size: contain;
}

#landing>.header>.login:hover {
    border: .166em solid #03b4fe;
    border-radius: 2em;
    padding: 0 1em;
}

#landing>.header>.header-item {
    font-size: .875em;
    color: #fe8f4f;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    border: 0 solid transparent;
}

#landing>.header>.header-item:hover {
    border: .166em solid #fe8f4f;
    border-radius: 2em;
    padding: 0 1em;
}

#landing>.menu {
    text-align: center;
    background: #fe8f4f;
    font-size: 1.125em;
    padding: 1.278em 0;
}

#landing>.menu>a {
    display: inline-block;
    width: 12.5em;
    height: 2em;
    line-height: 2em;
    border: 0 solid #0097db;
    border-width: 0 2px;
    margin-left: -2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-color 0.5s, color 0.1s;
}

#landing>.menu>a:first-child {
    border-left: 0 none;
}

#landing>.menu>a:last-child {
    border-right: 0 none;
}

#landing>.menu>a:hover {
    z-index: 50;
    text-transform: none;
    font-size: 1.335em;
    color: #0a5070;
    width: 9.3635em;
    height: 1.5em;
    line-height: 1.5em;
    border-color: #fe8f4f;
}

#landing>.feature {
    display: inline-block;
    width: 100%;
    margin-top: 5.125em;
    padding: 0 1.625em;
    text-align: center;
    vertical-align: top;
}

#landing>.feature>.picture {
    width: 11.9375em;
    max-width: 191px;
    margin-bottom: 2.25em;
}

#landing>.feature>.caption {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: .8em;
    min-height: 2.43em;
    color: #3e4e5c;
    text-align: left;
}

#landing>.feature>.summary {
    color: #737d85;
    font-size: .86em;
    text-align: left;
}

#landing>.extra {
    display: inline-block;
    text-align: center;
    color: #3e4e5c;
    font-size: 2.25em;
    width: 13.333em;
    margin: -8em 0 2em;
}

#landing>.extra .button {
    font-size: .65em;
    padding: .62em 2.612em;
    text-transform: none;
    font-weight: normal;
    margin-top: 1.5em;
}

#landing>.component {
    width: 100%;
    vertical-align: top;
    text-align: center;
    /*margin-bottom: -20rem;*/
}

#landing>.footer {
    display: table;
    width: 100%;
    padding: 0 6em;
}

#landing>.footer>* {
    display: table-cell;
    vertical-align: top;
    line-height: 2;
}

#landing>.footer a {
    color: #01affe;
    text-decoration: none;
}

#landing>.footer a:hover {
    color: #3e4e5c;
}

#landing>.footer>.column:nth-child(1) a,
#landing>.footer>.column:nth-child(2) a,
#landing>.footer>.column:nth-child(3) a {
    display: block;
    font-size: .875em;
}

#landing>.footer>.column:nth-child(1) a {
    font-size: 1.125em;
}

#landing>.footer>.subscribe {
    width: 50%;
    top: -0.5em;
}

#landing>.footer>.subscribe>.caption {
    font-size: 1.125em;
    font-weight: normal;
    color: #3e4e5c;
}

#landing>.footer>.subscribe>.summary {
    font-size: .875em;
    color: #8e9ea9;
    margin-bottom: .5em;
}

#landing>.footer>.subscribe>.email {
    width: 83%;
    font-size: .875em;
    border: .125em solid #e4ebec;
    border-radius: 3px;
    appearance: none;
    line-height: 3em;
    padding: 0 1em;
}

#landing>.footer>.subscribe>.email+button {
    width: 17%;
    font-size: .875em;
    border: 0;
    border-radius: 3px;
    appearance: none;
    line-height: 3em;
    padding: 0 1em;
    text-align: center;
    text-transform: uppercase;
    background: #01affe;
    color: #fff;
    cursor: pointer;
    margin-left: -0.4em;
}

#landing>.copyright {
    font-size: .875em;
    border-top: 2px solid #eee;
    margin: 2em 6.8em 0;
    padding: 2em 0;
    color: #8e9ea9;
    word-spacing: 1.5em;
}

#landing>.copyright:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    float: none;
    clear: both;
}

#landing>.copyright>* {
    word-spacing: normal;
}

#landing>.copyright a {
    color: #01affe;
    text-decoration: none;
}

#landing>.copyright a:hover {
    color: #3e4e5c;
}

#landing>.copyright>.social {
    float: right;
    word-spacing: 1.5em;
}

#landing>.copyright>.social>* {
    word-spacing: normal;
}

#landing>.copyright>.social>.ico:before {
    font-family: "ico";
    font-size: 1.8em;
}

#landing>.copyright>.social>.fa:before {
    display: inline-block;
    font: normal normal normal 1.8em FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#landing .slider {
    position: relative;
    overflow: hidden;
    text-align: center;
}

#landing .slider .content {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#landing .slider>img.ratio {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 0 none;
    outline: 0 none;
    margin: 0;
    /* data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7 */
}

#landing .slider>input.slide {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    overflow: hidden;
}

#landing .slider>input.slide+label {
    position: relative;
    display: inline-block;
    width: 3.32em;
    height: 3.125em;
    margin-top: -3.125em;
    padding: 1.5em .25em 0;
    top: -0.5em;
    cursor: pointer;
    z-index: 100;
}

#landing .slider>input.slide+label:before {
    content: "";
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: border-color 0.2s;
}

#landing .slider>input.slide+label:hover:before {
    border-color: rgba(255, 255, 255, 0.4);
}

#landing .slider>input.slide:checked+label:before {
    border-color: #ffffff;
}

#landing .slider>input.slide+label+div,
#landing .slider>input.slide+label+div>img:first-child,
#landing .slider>input.slide+label+div>img:first-child+div {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    overflow: hidden;
}

#landing .slider>input.slide+label+div>img:first-child {
    width: 100%;
    height: 100%;
    opacity: .9;
}

#landing .slider>input.slide+label+div {
    transition: opacity 1s, transform 1.5s;
    opacity: 0;
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.8);
}

#landing .slider>input.slide:checked+label+div {
    z-index: 50;
    opacity: 1;
    transform: scale(1);
}

#landing .slider>input.slide+label+div:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    opacity: 0;
    z-index: 100;
    background: #0097db;
    height: 2px;
    transition: width 6.8s linear, opacity 3s 1s linear;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#landing .slider>input.slide:checked+label+div:before {
    width: 100%;
    opacity: 1;
}

.header-background {
    object-fit: cover;
}
