/* ---- reset ---- */

@font-face {
    font-family: 'Raleway-Thin';
    src: url("fonts/Raleway/Raleway-Thin.ttf");
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url("fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    color: #cecece;
}

canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191919;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.panel {
    display: block;
    font-family: 'Raleway-Thin';
    width: 100%;
    font-size: 1.3em;
    position: absolute;
    z-index: 10;
    background: rgba(25,25,25,.5);
    top: 34%;
    left: 50%;
    margin-left: -50%;
    /*padding: 2rem;*/
    /*border-radius: 0.4rem;*/
    box-sizing: border-box;
    z-index: 100;
    text-align: center;
    line-height:15px;
}

.panel span {
    font-family: 'Roboto-Condensed';
    font-size:1.2em;
}

.signup {
    display: block;
    font-family: 'Raleway-Thin';
    width: 100%;
    font-size: 1.5em;
    position: absolute;
    z-index: 10;
    background: rgba(25,25,25,.5);
    top: 55%;
    left: 50%;
    margin-left: -50%;
    /*padding: 2rem;*/
    /*border-radius: 0.4rem;*/
    box-sizing: border-box;
    z-index: 100;
    text-align: center;
    line-height:15px;
}

.a-button-link {
    font-family: 'Raleway-Thin';
    transition: all 50ms ease-in;
    border: none;
    border-radius: 1px;
    color: #fff;
    padding: 8px 20px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    background: #5d5d5d;
    font-size: 18px;
    cursor: pointer;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 20px;*/
}

.a-button-link:hover {
    background: #ffffff;
    color: #5d5d5d;
}

.email{
    border: none;
    border-radius: 1px;
    padding: 10px 40px;
    text-transform: none;
    width: 30%;
    outline: none;
    background: rgba(255, 255, 255, 0.79);
    /*background-color: #fff;*/
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    font-family: 'Raleway-Thin';
    letter-spacing: 0.5px;
}

.fname{
    border: none;
    border-radius: 1px;
    padding: 10px 40px;
    text-transform: none;
    width: 30%;
    outline: none;
    background: rgba(255, 255, 255, 0.79);
    /*background-color: #fff;*/
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    font-family: 'Raleway-Thin';
    letter-spacing: 0.5px;
}


a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #01c9ff;
}


/* The ribbons */

.corner-ribbon{
    font-size: 1rem;
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

