<meta charset="UTF-8">
<meta name="theme-color" content="#4285f4" />
<meta name="msapplication-navbutton-color" content="#4285f4" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name='keywords' content='blockchained india, blockchainedindia, blockchain, india, blockchained, ecosystem, poc, consult, experts, meetup, bangalore, delhi, mumbai, hyderabad, anistark, kumar, anirudha, akshay, manav, event, acyclic, ethereum, lisk, stellar, btc, bitcoin, cryptocurrency, crypto, talk, seminar, workshop, byte, innovation, develop, coders, telegram, group, facebook, twitter, non-profit, not for profit, ngo, dlt, iota'>
<meta name='description' content='Blockchained India an open innovation non-profit community dedicated to evolve the ecosystem in India towards Blockchain and DLT.'>
<meta name='subject' content='Blockchained India official website'>
<meta name='copyright' content='Blockchained India'>
<meta name='language' content='EN'>
<meta name='robots' content='noindex'>
<meta name='revised' content='Sunday, May 6th, 2018, 10:50 pm'>
<meta name='abstract' content='Blockchained India is an open innovation non-profit community dedicated to evolve the ecosystem in India towards Blockchain and DLT.'>
<meta name='topic' content='blockchain india'>
<meta name='summary' content='Blockchained India is an open innovation non-profit community dedicated to evolve the ecosystem in India towards Blockchain and DLT. We organise knowledge sharing sessions and meetups at various places to achieve that. Now, after more than a year of working towards it, Blockchained India has become the largest of those names. We strive each day to develop the ecosystem a little better.'>
<meta name='Classification' content='Organisation'>
<meta name='author' content='Kumar Anirudha <anistark> [anirudhastark@yahoo.com]'>
<meta name='reply-to' content='contact@blockchainedindia.com'>
<meta name='owner' content='tief'>
<meta name='url' content='https://blockchainedindia.com'>
<meta name='identifier-URL' content='https://blockchainedindia.com'>
<meta name='coverage' content='Worldwide'>
<meta name='distribution' content='Global'>
<meta name='rating' content='General'>
<meta name='revisit-after' content='7 days'>
<meta name='subtitle' content='Blockchain Open Innovation Community'>
<meta name='target' content='all'>
<meta name='HandheldFriendly' content='True'>
<meta name='MobileOptimized' content='320'>
<meta http-equiv='x-dns-prefetch-control' content='off'>
