<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Kumar Anirudha (anistark) [anirudhastark@yahoo.com]">
<meta name="description" content="Blockchained India is a community to gather all VC, investors, entrepreneurs, blockchain enthusiatic, developers and anybody interested in learning and growing with us." />
<meta name="keywords" content="blockchain,india,bangalore,anistark,blockchained,blockchainedindia,kumar,anirudha,Akshay,Agarwal" />
<meta name="classification" content="blockchain,community,india,bangalore,meetup" />
<meta name="distribution" content="Global" />
<meta name="rating" content="General" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="1 days" />
<meta name="creator" content="Kumar Anirudha [anistark] (anirudha@blockchainedindia.com)" />
<meta name="publisher" content="Kumar Anirudha [anistark] anirudha.org" />
<!-- Add Your favicon here -->
<link rel="icon" href="img/favicon.ico">
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
