@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:200,300,400");

.header {
    position: relative;
    height: 400px;
    overflow: hidden;
    z-index: -3;
    background-color: blue;
    background-image: url(https://i.imgur.com/kQx8HjP.png);
    background-position: top center;
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header .elm1 {
    height: 25rem;
    width: 25rem;
    position: absolute;
    top: 50%;
    margin-top: -12.5rem;
    right: 50%;
    margin-right: -12.5rem;
    z-index: -2;
    background-image: url(https://i.imgur.com/3aUT4Yr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dummySpace {
    height: 2000px;
}
