<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-connectdevelop big-icon"></i>
                <h1>
                    Blockchained India
                </h1>
                <div class="testimonials-text">
                    <i>We are not-for-profit organisation, striving to fulfil the requirements left blank on our ecosystem. Together, let's create a strong community together by helping others and sharing our knowledge with everyone.</i>
                </div>
                <!-- <small>
                    <strong>Blockchained India</strong>
                </small> -->
            </div>
        </div>
    </div>
</section>
