<style>
    .banner-container {
        background-image: url(https://i.imgur.com/eEevlEN.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 400px;
    }
    .container-banner{
      text-align:center;
      padding: 8% 0 !important;
    }
    .container-banner h1{
        font-family: Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
        color: #313435;
        font-size: 3.5em;
        font-weight: 200;
        margin: 0 auto;
    }
    .container-banner p{
      color: #6F808A;
      font-family: Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
    }
    .container-banner h2{
        font-family: Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
        color: #313435;
        font-size: 1.4em;
        font-weight: 300;
        border:1px solid #fe8f4f;
        padding:20px 10px;
        border-radius:10px;
        margin: 0 auto;
    }
    .button-div{
      margin: 0 auto;
      text-align: center;
      margin-top:3%;
    }

    .colu{
      width:40%;
      display: inline-block;
    }
    .colu h2{
      font-family: Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
      color: #313435;
      font-size: 1em;
      border:none;
      text-align:left;
    }

    .img-div{
      width: 38vh;
    }
    .img-div img{
      width:38vh;
      /* height:38vh; */
      /* border-radius:50%; */
    }
</style>
<div>
    <div class="container-banner">
      <h1>Does India Need Crypto Regulations?</h1>
      <!-- <p>Asia's top-notch revelation on blockchain based applications</p> -->
      <div style="margin-top:30px;">
        <div class="colu" style="width:45vh">

          <div class="img-div">
            <img class="header-background" src="https://i.imgur.com/sbbA6Gd.png" />
          </div>
        </div>
        <div class="colu">
          <h2>The report aggregated India’s blockchain and cryptocurrency industry voice and gathered views pro and against blockchain regulation. The opinions of 100+ industry professionals were collected through a series of Town-hall sessions organized in 8 cities. Based on these insights, we propose five actionable policy recommendations which the Government and the regulators can implement to make India a more blockchain and cryptocurrencies friendly-country.</h2>
          <div class="button-div" style="text-align:left">
            <a href="https://s3.ap-south-1.amazonaws.com/blocumen.com/Does_India_Need_Crypto_Regulations_Report.pdf" target="_blank" class="button button-blue" style="margin:20px 0; border-radius: 0 2em 2em 0;">Read Report</a>
          </div>
        </div>
      </div>


    </div>
</div>
