<div class="copyright" id="copyright">
    <span>Technology Innovation and Entrepreneurship Foundation</span>
    <!-- <a href="#">Terms of Use</a> -->
    <!-- <a href="#">Privacy Policy</a> -->

    <div class="social">
        <a href="https://t.me/blockchainedindia" class="fa fa-telegram"></a>
        <a href="https://www.youtube.com/channel/UCGOe6h1mPtDguNET5JIIOgg" class="fa fa-youtube-play"></a>
        <a href="https://www.meetup.com/blockchainindia/" class="fa fa-meetup"></a>
        <a href="https://instagram.com/blockchainedindia" class="fa fa-instagram"></a>
        <a href="https://twitter.com/blockchainedind" class="fa fa-twitter"></a>
        <a href="https://www.facebook.com/blockchainedindia" class="fa fa-facebook"></a>
        <a href="https://medium.com/blockchainedindia" class="fa fa-medium"></a>
        <a href="mailto:hello@blockchainedindia.com" class="fa fa-envelope"></a>
    </div>
</div>
