<!-- Fullcalendar Start -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/gcal.min.js"></script>
<!-- Fullcalendar End -->

<style>
    .calendar-fic {
        margin-left: 4rem;
        margin-right: 4rem;
    }
</style>

<div class="component" id="events">
    <div class="at-section">
        <div class="at-section__title">Events</div>
    </div>
    <div class="row calendar-fic">
        <div id="calendar"></div>
    </div>
</div>
