<div class="footer" id="footer">
    <div class="column">
        <!-- <a href="#">Get Started</a> -->
        <!-- <a href="#">Company</a> -->
        <a href="http://blog.blockchainedindia.com">Blog</a>
    </div>
    <div class="column">
        <a href="#">About Us</a>
        <a href="#">Our Team</a>
        <a href="#">Volunteer</a>
        <!-- <a href="#">Press</a> -->
    </div>
    <div class="column">
        <a href="#">Events</a>
        <a href="https://blockchainedindia.github.io/resources">Resources</a>
        <a href="#">Previous Talks</a>
    </div>
    <form class="column subscribe" action="javascript:void(0)">
        <h4 class="caption">Subscribe for updates</h4>
        <p class="summary">Stay informed on Blockchain news from India eco-system, events and announcements!</p>
        <input class="email" type="email" placeholder="Enter your email" />
        <button type="submit">Submit</button>
    </form>
</div>
