<div class="footer" id="footer">
    <div class="column">
        <!-- <a href="#">Get Started</a> -->
        <a href="https://medium.com/blockchainedindia">Medium</a>
        <a href="https://blog.blockchainedindia.com">Blog</a>
    </div>
    <div class="column">
        <!-- <a href="#">About Us</a> -->
        <a href="/#team">Our Team</a>
        <a href="/#team">Volunteer</a>
        <!-- <a href="#">Press</a> -->
    </div>
    <div class="column">
        <a href="/#events">Events</a>
        <a href="https://blockchainedindia.github.io/resources" target="_blank">Resources</a>
        <a href="/talks">Previous Talks</a>
    </div>
    <form class="column subscribe" action="/sendy_subscribeform" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <h4 class="caption">Subscribe for updates</h4>
        <p class="summary">Stay informed on Blockchain news from India eco-system, events and announcements!</p>
        <input class="email" type="email" id="mce-email" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
    </form>
</div>
