<div class="header">
    <a href="/" class="logo">.</a>
    <a href="/" class="header-title">Blockchained India</a>
    <!-- <a href="#" class="button">Create Account</a> -->
    <!-- <a href="#" class="login">Login</a> -->
    <a href="/#chapters" class="header-item">Chapters</a>
    <a href="/#events" class="header-item">Events</a>
    <a href="/#team" class="header-item">Team</a>
    <a href="/#advisors" class="header-item">Advisors</a>
    <a href="/#partner" class="header-item">Partners</a>
    <a href="/talks" class="header-item">Talks</a>
    <a href="/#footer" class="header-item">Contact</a>
</div>

<div class="slider slider-1">
    <img class="ratio" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" />

    <input class="slide" type="radio" name="slider-1" id="s-1-1" /><label for="s-1-1"></label>
    <div>
        <img class="header-background" src="https://i.imgur.com/viXndRV.jpg" />
        <div class="content">
            <h3>Blockchained India</h3>
            <p>An open community for the blockchain enthusiast in you.</p>
            <a href="/#events" class="button button-blue">Meetup</a>
        </div>
    </div>

    <input class="slide" type="radio" name="slider-1" id="s-1-2" /><label for="s-1-2"></label>
    <div>
        <img class="header-background" src="https://i.imgur.com/SAV0Jm8.jpg" />
        <div class="content">
            <h3>Learn and Grow with us</h3>
            <p>Read more on this emerging technology first hand!</p>
            <a href="https://medium.com/blockchainedindia" class="button button-blue">Read More</a>
        </div>
    </div>

    <input class="slide" type="radio" name="slider-1" id="s-1-3" checked /><label for="s-1-3"></label>
    <div>
        <img class="header-background" src="https://i.imgur.com/T7kI20m.jpg" />
        <div class="content">
            <h3 style="text-shadow: 1px 1px 1px rgb(255, 253, 253);">Communities and Technology are two pillars to Blockchain revolution</h3>
            <p>Join today and be notified to all the updates to this fast growing community!</p>
            <a href="/#footer" class="button button-blue">Subscribe</a>
        </div>
    </div>

    <input class="slide" type="radio" name="slider-1" id="s-1-4" checked /><label for="s-1-4"></label>
    <div>
        <img class="header-background" src="https://i.imgur.com/wl0EIuq.jpg" />
        <div class="content">
            <h3 >Volunteer</h3>
            <p>If you like what we do and would like to grow with the team, then fill the form today.</p>
            <a href="https://anirudhastark.typeform.com/to/EbFqHM" class="button button-blue typeform-share" data-mode="popup"  target="_blank">Volunteer with us</a>
        </div>
    </div>

    <input class="slide" type="radio" name="slider-1" id="s-1-5" checked /><label for="s-1-5"></label>
    <div>
        <img class="header-background" src="https://i.imgur.com/CAp1q9P.jpg" />
        <div class="content">
            <h3>Blockchained India</h3>
            <p>We are present in 4 cities with 15000+ members altogether.</p>
            <a href="/#team" class="button button-blue">Our Team</a>
        </div>
    </div>

    <style type="text/css">
        #landing .slider-1 img.ratio {
            padding: 0 33%;
        }

        #landing .slider-1 .content {
            max-width: 33%;
            margin: 5% 0 0 18%;
        }

        #landing .slider-1 .content h3 {
            color: #ce8a49;
            font-size: 2.125em;
            font-weight: normal;
            margin: 0 0 4%;
        }

        #landing .slider-1 .content p {
            color: #fff;
            font-size: 1.1em;
            font-weight: normal;
        }

        #landing .slider-1 .button {
            position: absolute;
            bottom: 17%;
            min-width: 12.5em;
            font-size: .95em;
            font-weight: normal;
            border-width: .14em;
        }
    </style>
</div>
