<section id="partners" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Partners</h1>
                <p>Contact us if you would like to partner with us too.</p>
            </div>
        </div>
        {% for partnerRowData in partnerData %}
        <div class="row">
            {% for partnerData in partnerRowData %}
            <div class="col-lg-2 features-text">
                <img class="partner-logo" src="{{partnerData['partnerLogo']}}" title="{{partnerData['partnerName']}}" />
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>