<style>
    /* Thanks to dmac37 for this hex technique */
    @import url(https://fonts.googleapis.com/css?family=Lato:300);
    /* Variables */
    .hex-tile-h2 {
        font-size: 20px;
    }

    .honeycomb {
        margin: 0 auto;
        text-align: center;
        width: 960px;
        margin-bottom: 20rem;
    }

    .hex_row_even {
        display: inline-block;
        margin: 0 auto -275px auto;
        overflow: hidden;
    }

    .hex_row_odd {
        display: inline-block;
        margin: 0 auto -275px auto;
        overflow: hidden;
    }

    .hex-center {
        float: left;
        margin: 20px 10px;
        width: 220px;
    }

    .hexagon {
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
        cursor: pointer;
        height: 440px;
        overflow: hidden;
        visibility: hidden;
        width: 220px;
    }

    .hex1 {
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    .hex2 {
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
        height: 100%;
        /*@include background-size(($width + ($width * .20)) ($width + ($width * .20)));
        background-position: 50%;*/
        position: relative;
        visibility: visible;
        width: 100%;
    }

    .desc {
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
        height: 440px;
        line-height: 1.5em;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        visibility: visible;
        width: 220px;
    }
    .desc.base {
        background: rgba(230, 0, 98, 0.75);
    }
    .desc.one {
        background: rgba(252, 171, 55, 0.75);
    }
    .desc.two {
        background: rgba(169, 160, 50, 0.75);
    }
    .desc.three {
        background: rgba(83, 70, 54, 0.75);
    }
    .desc h2 {
        margin: 165px 20px 0 20px;
    }
    .desc p {
        font-size: 0.8em;
        text-transform: capitalize;
    }
    a:hover {
        cursor: pointer; cursor: hand;
    }

</style>

<script>
    $(document).ready(function() {
        var color = 'one';
        var counter = 0;
        $('.desc').hide();
        $('.hexagon').hover(
                function() {
                    $(this).find('.desc').fadeIn('fast');
                    counter++;
                    if (counter === 0) {
                        color = 'base';
                    } else if (counter === 1) {
                        color = 'one';
                    } else if (counter === 2) {
                        color = 'two';
                    } else if (counter === 3) {
                        color = 'three';
                    } else if (counter >= 4){
                        counter = 0 ;
                        color = 'base';
                    }
                    $(this).find('.desc').addClass(color);
                },
                function() {
                    $(this).find('.desc').fadeOut('fast', function() {
                        $(this).removeClass(color);
                    });
                });
    });
</script>

<section class="honeycomb">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Talks</h1>
            <p>A repository of talks from our past events</p>
        </div>
    </div>
    {% for talksColumnId, talksColumnData in talksData %}
        {% if talksColumnId%2 == 0 %}
            <div class="hex_row_even">
            {% for talkData in talksColumnData %}
                <div class="hex-center">
                    <div class="hexagon">
                        <div class="hex1">
                            <div class="hex2" style="background: url({{ talkData['talkImg'] }}) center no-repeat">
                                <a href="{{ talkData['talkUrl'] }}">
                                    <div class="desc">
                                        <h2 class="hex-tile-h2">{{ talkData['talkTitle'] }}</h2>
                                        <p>{{ talkData['speakerName'] }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="hex_row_odd">
            {% for talkData in talksColumnData %}
                <div class="hex-center">
                    <div class="hexagon">
                        <div class="hex1">
                            <div class="hex2" style="background: url({{ talkData['talkImg'] }}) center no-repeat">
                                <a href="{{ talkData['talkUrl'] }}">
                                    <div class="desc">
                                        <h2 class="hex-tile-h2">{{ talkData['talkTitle'] }}</h2>
                                        <p>{{ talkData['speakerName'] }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</section>
