<link rel="stylesheet" href="assets/css/team.css">

<div class="team-container" id="team">
    <div class="at-section">
        <div class="at-section__title">The Team</div>
    </div>
    <div class="at-grid" data-column="3">
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/K8eFKCv.jpg" /></div>
                <div class="at-user__name">Akshay Aggarwal</div>
                <div class="at-user__title">CoFounder <a href="https://blocumen.com/" target="_blank">BlocumenStudios</a>. Startup, Technology &amp; community building enthusiast. Fellow at DraperU.</div>
                <ul class="at-social">
                    <li class="at-social__item"><a href="https://www.facebook.com/akshay.aggarwal.10"><i class="fa fa-2x fa-facebook"></i></a></li>
                    <li class="at-social__item"><a href="https://twitter.com/howdy_akshay"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li class="at-social__item"><a href="https://www.linkedin.com/in/akshay-aggarwal"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/vVqT7PJ.jpg" /></div>
                <div class="at-user__name">Kumar Anirudha</div>
                <div class="at-user__title">Founder <a href="https://acycliclabs.com/" target="_blank">Acyclic Labs</a>. Blockchain and Ecosystem Developer.</div>
                <ul class="at-social">
                    <li class="at-social__item"><a href="https://twitter.com/kranirudha"><i class="fa fa-2x fa-twitter"></i></a></li>
                  <li class="at-social__item">
                      <a href="https://github.com/anistark">
                          <i class="fa fa-2x fa-github"></i>
                      </a>
                  </li>
                    <li class="at-social__item"><a href="https://www.linkedin.com/in/kranirudha"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/TUIThyN.jpg" /></div>
                <div class="at-user__name">Manav Ailawadi</div>
                <div class="at-user__title">CoFounder <a href="https://blocumen.com/" target="_blank">BlocumenStudios</a>. Community Builder &amp; Entrepreneur</div>
                <ul class="at-social">
                    <li class="at-social__item"><a href="https://facebook.com/manav.ailawadi"><i class="fa fa-2x fa-facebook"></i></a></li>
                  <li class="at-social__item"><a href="https://www.linkedin.com/in/manav-ailawadi-55138854/"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/Rix0gnZ.jpg" /></div>
                <div class="at-user__name">Advaith Mohan</div>
                <div class="at-user__title">CoFounder @Wagr. Dedicated to a better future for humanity.</div>
                <ul class="at-social">
                    <li class="at-social__item"><a href="https://facebook.com/advaithm"><i class="fa fa-2x fa-facebook"></i></a></li>
                    <li class="at-social__item"><a href="https://twitter.com/advaithmohan90"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li class="at-social__item"><a href="https://www.linkedin.com/in/advaith-mohan-90505047"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/5qHew8G.jpg" /></div>
                <div class="at-user__name">Karthika Sivakumar</div>
                <div class="at-user__title">Community Manager at Thoughfactory. Excited about the future of Blockchain.</div>
                <ul class="at-social">
                    <li class="at-social__item"><a href="https://facebook.com/karthikasiv"><i class="fa fa-2x fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/8cbcxya.jpg" /></div>
                <div class="at-user__name">Kashyap Kompella</div>
                <div class="at-user__title">Founder at fRndzZy. Fellow at DraperU</div>
                <ul class="at-social">
                    <li class="at-social__item"><a href="https://twitter.com/kashyapkomp"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li class="at-social__item"><a href="https://www.linkedin.com/in/kashyapk"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/uBLNJAl.jpg" /></div>
                <div class="at-user__name">Vikas Singh</div>
                <div class="at-user__title">Ethreum blockchain developer and crypto believer.</div>
                <ul class="at-social">
                    <li class="at-social__item"><a href="https://www.linkedin.com/in/vikas-singh-8299a315"><i class="fa fa-2x fa-linkedin"></i></a></li>
                  <li class="at-social__item">
                      <a href="https://github.com/vikas1188">
                          <i class="fa fa-2x fa-github"></i>
                      </a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/NCu08Hn.jpg" /></div>
                <div class="at-user__name">Lakshay Anand</div>
                <div class="at-user__title">Blockchain Enthusiast and Developer at Accenture</div>

                <ul class="at-social">
                        <li class="at-social__item"><a href="https://www.facebook.com/lakshay.anand.5836"><i class="fa fa-2x fa-facebook"></i></a></li>
                        <li class="at-social__item"><a href="https://www.linkedin.com/in/lakshay-anand-7671a410a"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/0FvYM4e.jpg" /></div>
                <div class="at-user__name">Stefano Colombu</div>
                <div class="at-user__title">Nurturing the digital economy ecosystem - AVP Yes Global Institute</div>
                  <ul class="at-social">
                    <li class="at-social__item"><a href="https://in.linkedin.com/in/stefano-colombu"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="https://i.imgur.com/Bgj9Cb7.jpg" /></div>
                <div class="at-user__name">Chinmay Shah</div>
                <div class="at-user__title">Blockchain Enthusiast and Student at NMIMS, Mumbai</div>
                  <ul class="at-social">
                    <li class="at-social__item"><a href="https://www.linkedin.com/in/chinmayshah99"><i class="fa fa-2x fa-linkedin"></i></a></li>
                  <li class="at-social__item">
                      <a href="https://github.com/chinmayshah99">
                          <i class="fa fa-2x fa-github"></i>
                      </a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="extra">
    Like what we do?
    <br />
    <br>
    <!-- <a href="https://anirudhastark.typeform.com/to/EbFqHM" class="button button-green" target="_blank">Volunteer with Us</a> -->
    <a class="button button-green typeform-share" href="https://anirudhastark.typeform.com/to/EbFqHM" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Volunteer with Us</a>
</div>

<script>
    (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
</script>
