<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blockchained India | Events | Meetups | Workshops</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="Kumar Anirudha (anistark) [anirudhastark@yahoo.com]">
		<meta name="description" content="Blockchained India is a community to gather all VC, investors, entrepreneurs, blockchain enthusiatic, developers and anybody interested in learning and growing with us." />
		<meta name="keywords" content="blockchain,india,bangalore,anistark,blockchained,blockchainedindia,kumar,anirudha,Akshay,Agarwal" />
		<meta name="classification" content="blockchain,community,india,bangalore,meetup" />
		<meta name="distribution" content="Global" />
		<meta name="rating" content="General" />
		<meta name="robots" content="index, follow" />
		<meta name="revisit-after" content="1 days" />
		<meta name="creator" content="Kumar Anirudha [anistark] (anirudha@blockchainedindia.com)" />
		<meta name="publisher" content="Kumar Anirudha [anistark] anirudha.org" />
		<link rel="icon" href="img/favicon.ico">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-98002907-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div class="navbar-wrapper">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/index.html#page-top">Blockchained India</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="page-scroll" href="/index.html#page-top">Home</a></li>
							<li><a href="http://blog.blockchainedindia.com">Blog</a></li>
							<li><a class="page-scroll" href="/index.html#reach">Reach</a></li>
							<li><a class="page-scroll" href="/index.html#events">Events</a></li>
							<li><a class="page-scroll" href="/index.html#team">Team</a></li>
							<li><a class="page-scroll" href="/index.html#partners">Partners</a></li>
							<li><a class="page-scroll" href="/index.html#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!--<div class="md-modal md-effect-12" id="modal-12">-->
			<!--<div class="md-content">-->
				<!--<h3>Modal Dialog</h3>-->
				<!--<div>-->
					<!--<p>This is a modal window. You can do the following things with it:</p>-->
					<!--<ul>-->
						<!--<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>-->
						<!--<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>-->
						<!--<li><strong>Close:</strong> click on the button below to close the modal.</li>-->
					<!--</ul>-->
					<!--<button class="md-close">Close me!</button>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="md-modal md-effect-16" id="modal-16">-->
			<!--<div class="md-content">-->
				<!--<h3>Modal Dialog</h3>-->
				<!--<div>-->
					<!--<p>This is a modal window. You can do the following things with it:</p>-->
					<!--<ul>-->
						<!--<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>-->
						<!--<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>-->
						<!--<li><strong>Close:</strong> click on the button below to close the modal.</li>-->
					<!--</ul>-->
					<!--<button class="md-close">Close me!</button>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="md-modal md-effect-19" id="modal-19">-->
			<!--<div class="md-content">-->
				<!--<h3>Modal Dialog</h3>-->
				<!--<div>-->
					<!--<p>This is a modal window. You can do the following things with it:</p>-->
					<!--<ul>-->
						<!--<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>-->
						<!--<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>-->
						<!--<li><strong>Close:</strong> click on the button below to close the modal.</li>-->
					<!--</ul>-->
					<!--<button class="md-close">Close me!</button>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!-- Event Details -->
		<div class="md-modal md-effect-19" id="bi_1">
			<div class="md-content">
				<h3>Blockchain beyond Bitcoin <span class="badge">past event</span></h3>
				<div>
					<p>
						Open Discussion for Blockchain enthusiasts who see the potential of this technology to disrupt the world, and for beginners to Blockchain who want to explore more.
					</p>
					<br>
					<a href="https://www.meetup.com/blockchainindia/events/238764602"><i class="fa fa-2x fa-meetup"></i></a>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</div>
		<div class="md-modal md-effect-19" id="bi_2">
			<div class="md-content">
				<h3>Blockchain beyond Bitcoin <span class="badge">past event</span></h3>
				<div>
					<p>
						Open Discussion for Blockchain enthusiasts who see the potential of this technology to disrupt the world, and for beginners to Blockchain who want to explore more.
					</p>
					<br>
					<a href="https://www.meetup.com/blockchainindia/events/239755258"><i class="fa fa-2x fa-meetup"></i></a> <a href="https://www.meetup.com/blockchainindia/events/239157507"><i class="fa fa-2x fa-meetup"></i></a>
					<button class="md-close push-right">Close me!</button>
				</div>
			</div>
		</div>
		<div class="md-modal md-effect-19" id="bi_3">
			<div class="md-content">
				<h3>Blockchain Untangled <span class="badge">past event</span></h3>
				<div>
					<p>
						<strong>Theme</strong>:<br>
							Introduction to Blockchain and various ledgers. A small demonstration on how it works by diving into the depths of it.
							<br />
							"The blockchain is an incorruptible digital ledger of economic transactions that can be programmed to record not just financial transactions but virtually everything of value."  - Don & Alex Tapscott, authors Blockchain Revolution (2016)
					</p>
					<strong>Agenda</strong>:
					<ul>
						<li><strong>18:15 - 19:00</strong> by Bharat Ram, General partner at OperatorVC <br />
						A brief talk on the history of fiat money and the socio-political underpinnings behind the bitcoin movement. Explaining the bitcoin blockchain and how it works followed by other blockchain consensus mechanisms and business opportunities.</li>
						<li><strong>19:00 pm - 19:30</strong> by Kumar Anirudha, Tech Evangelist <br />
						A visual showcase of blockchain in action. The talk would revolve around how blockchain ledger works by visually depicting it's immutable and tamper-proof characteristics.</li>
						<li><strong>19:30 - 20:00</strong> Networking and Snacks</li>
					</ul>
					<strong>Note</strong>:
					<ol>
						<li>RSVP opens 7 days before the event.</li>
						<li>The event is free of cost.</li>
					</ol>
					<a href="https://www.meetup.com/blockchainindia/events/239157507"><i class="fa fa-2x fa-meetup"></i></a> <a href="https://www.facebook.com/events/418289011869057"><i class="fa fa-2x fa-facebook-official"></i></a>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</div>
		<div class="md-modal md-effect-19" id="bi_4">
			<div class="md-content">
				<h3>Blockchain beyond Bitcoin <span class="badge">past event</span></h3>
				<div>
					<p>
						<strong>Theme</strong>:<br>
							Introductory talk explaining Blockchain and its current landscape, followed by an open discussion around the problems that can be solved in our country by the use of this technology.
							<br />
							"The blockchain is an incorruptible digital ledger of economic transactions that can be programmed to record not just financial transactions but virtually everything of value."  - Don & Alex Tapscott, authors Blockchain Revolution (2016)
					</p>
					<strong>Agenda</strong>:
					<ul>
						<li><strong>16:00 - 16:15</strong> Welcome talk</li>
						<li><strong>16:15 - 16:30</strong> Introductions</li>
						<li><strong>16:30 - 17:00</strong> Introduction to Blockchain</li>
						<li><strong>17:00 - 17:30</strong> Open discussion on it’s use-cases</li>
						<li><strong>17:30 - 18:00</strong> Networking</li>
					</ul>
					<strong>Note</strong>:
					<ol>
						<li>The event is free of cost.</li>
					</ol>
					<a href="https://www.meetup.com/blockchainindia/events/239755258"><i class="fa fa-2x fa-meetup"></i></a> <a href="https://www.facebook.com/events/761048004076389"><i class="fa fa-2x fa-facebook-official"></i></a>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</div>
		<div class="md-modal md-effect-19" id="bi_5">
			<div class="md-content">
				<h3>Ethereum Demystified <span class="badge">past event</span></h3>
				<div>
					<p>
						<strong>Theme</strong>:<br>
							The meetup will start with a recap of what we learnt the last time about Blockchain by taking an example of the Bitcoin Blockchain. Post that, We would dive a little deeper into the implementation details of the Bitcoin Blockchain. Then, we will start with an introduction to Ethereum Blockchain. We will also, try to understand some distributed apps that are being built over it.<br><br>
							We would open the session for networking at the end.
							<br><br>
							"The blockchain is an incorruptible digital ledger of economic transactions that can be programmed to record not just financial transactions but virtually everything of value."  - Don & Alex Tapscott, authors Blockchain Revolution (2016)
					</p><br>
					<strong>Agenda</strong>:
					<ul>
						<li><strong>5:00 PM - 5:30 PM</strong> Recap about Bitcoin Blockchain</li>
						<li><strong>5:30 PM - 6:00 PM</strong> Deep dive into the implementation details of the Bitcoin Blockchain</li>
						<li><strong>6:00 PM - 6:45 PM</strong> Introduction to the Ethereum Blockchain</li>
						<li><strong>6:30 PM - 7:00 PM</strong> Networking and Snacks</li>
					</ul>
					<strong>Note</strong>:
					<ol>
						<li>The event is free of cost.</li>
					</ol>
					<a href="https://www.meetup.com/blockchainindia/events/240332929"><i class="fa fa-2x fa-meetup"></i></a> <a href="https://www.facebook.com/events/131235650770818"><i class="fa fa-2x fa-facebook-official"></i></a>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-lg-12 text-center" style="margin-top: 4rem;">
				<h1>Events and Meetups</h1>
				<small>
					All events and meetups are listed here. If you want to organised an event with us. Reach out us here.
				</small>
				<hr style="border-top-color: #a6d0bb;">
				<div class="main clearfix">
					<!-- <button class="md-trigger" data-modal="modal-12">Just Me</button>
					<button class="md-trigger" data-modal="modal-16">Blur</button>
					<button class="md-trigger md-setperspective" data-modal="modal-19">Slip from top</button> -->
					<!-- <div>
						<h2>Upcoming Events</h2>
						<div class="row">
						</div>
					</div> -->
					<!-- <hr style="border-top-color: #a6d0bb;"> -->
					<div>
						<h2>Past Events</h2>
						<div class="row">
							<div class="col-sm-4">
								<div class="contact-box md-trigger md-setperspective" data-modal="bi_5">
									<a href="#">
										<div class="col-sm-4">
											<div class="text-center">
												<img alt="image" class="img-circle m-t-xs img-responsive" src="http://i.imgur.com/bA3g5OH.jpg">
												<div class="m-t-xs font-bold">New Delhi</div>
											</div>
										</div>
										<div class="col-sm-8">
											<h3><strong>Ethereum Demystified</strong></h3>
											<p>Meetup</p>
											<address>
												<strong>ONE Co.Work</strong><br>
												G Block Outer Circle<br>
												Connaught Place, New Delhi
											</address>
										</div>
										<div class="clearfix"></div>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
							<div class="contact-box md-trigger md-setperspective" data-modal="bi_4">
								<a href="#">
									<div class="col-sm-4">
										<div class="text-center">
											<img alt="image" class="img-circle m-t-xs img-responsive" src="http://i.imgur.com/TzE4rNy.jpg">
											<div class="m-t-xs font-bold">Hyderabad</div>
										</div>
									</div>
									<div class="col-sm-8">
										<h3><strong>Blockchain beyond Bitcoin</strong></h3>
										<p>Open Discussion</p>
										<address>
											<strong>Collab House</strong><br>
											66-A, Journalist Colony, Road No. 70<br>
											Jubilee Hills<br>
											Hyderabad 500033
										</address>
									</div>
									<div class="clearfix"></div>
								</a>
							</div>
						</div>
							<div class="col-sm-4">
								<div class="contact-box md-trigger" data-modal="bi_3">
									<a href="#">
										<div class="col-sm-4">
											<div class="text-center">
												<img alt="image" class="img-circle m-t-xs img-responsive" src="http://i.imgur.com/bA3g5OH.jpg">
												<div class="m-t-xs font-bold">Bangalore</div>
											</div>
										</div>
										<div class="col-sm-8">
											<h3><strong>Blockchain Untangled</strong></h3>
											<p>Meetup</p>
											<address>
												<strong>NASSCOM 10000 Startup Warehouse</strong><br>
												Diamond DIstrict, Old Airport Road Bangalore<br>
												Bangalore<br>
											</address>
										</div>
										<div class="clearfix"></div>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="contact-box md-trigger" data-modal="bi_2">
									<a href="#">
										<div class="col-sm-4">
											<div class="text-center">
												<img alt="image" class="img-circle m-t-xs img-responsive" src="http://i.imgur.com/bA3g5OH.jpg">
												<div class="m-t-xs font-bold">New Delhi</div>
											</div>
										</div>
										<div class="col-sm-8">
											<h3><strong>Blockchain beyond Bitcoin</strong></h3>
											<p>Open Discussion</p>
											<address>
												<strong>91Springboard</strong><br>
												Okhla<br>
												New Delhi 110020<br>
											</address>
										</div>
										<div class="clearfix"></div>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="contact-box md-trigger md-setperspective" data-modal="bi_1">
									<a href="#">
										<div class="col-sm-4">
											<div class="text-center">
												<img alt="image" class="img-circle m-t-xs img-responsive" src="http://i.imgur.com/TzE4rNy.jpg">
												<div class="m-t-xs font-bold">Bangalore</div>
											</div>
										</div>
										<div class="col-sm-8">
											<h3><strong>Blockchain beyond Bitcoin</strong></h3>
											<p>Open Discussion</p>
											<address>
												<strong>Thought Factory Social</strong><br>
												Diamond District<br>
												Bangalore, Karnataka 560038<br>
											</address>
										</div>
										<div class="clearfix"></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="md-overlay"></div>
		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
		<script src="js/classie_modal.js"></script>
		<script src="js/modalEffects.js"></script>

		<!-- for the blur effect -->
		<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>
		<script src="js/cssParser.js"></script>
		<script src="js/css-filters-polyfill.js"></script>
	</body>
</html>
