{% extends '../layout.html' %} {% block title %}{% endblock %} {% block content %}
<!-- {% include '../partials/menu.html' %} -->
<!-- <div class="feature">
    <img class="picture" src="https://developer.playphone.com/App/Landing/img/feature-1.png" />
    <h4 class="caption">Built specially for mobile game developers</h4>
    <p class="summary">The Playphone SDK is built for mobile game developers. It is extremely lightweight and takes minutes to integrate. Further, you need to integrate only once.</p>
</div>

<div class="feature">
    <img class="picture" src="https://developer.playphone.com/App/Landing/img/feature-2.png" />
    <h4 class="caption">Reach highly targeted mobile gamers</h4>
    <p class="summary">Playphone is a games-only network fostering an ecosystem of highly qualified users that love playing mobile games. You won't find a better way to reach untapped mobile gamers globally</p>
</div>

<div class="feature">
    <img class="picture" src="https://developer.playphone.com/App/Landing/img/feature-3.png" />
    <h4 class="caption">Go beyond Google Play</h4>
    <p class="summary">In high-growth emerging markets, we partner with the leading local OEMs, carriers and distributors in to drive installs for your games where Google Play can't</p>
</div>

<div class="slider slider-2">
    <img class="ratio" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" />

    <input class="slide" type="radio" name="slider-2" id="s-2-1" /><label for="s-2-1"></label>
    <div>
        <img src="https://developer.playphone.com/App/Landing/img/main-slide-4.png" />
        <div class="content">
            <h3>What they say</h3>
            <p>
                Integration the Playphone SDK was extremely developer friendly. It's lean and easy to integrate and test. We got it out there in less than a day.
            </p>
            <small>Alok Kumar<br />Director of game development<br />June Software Inc</small>
        </div>
    </div>

    <input class="slide" type="radio" name="slider-2" id="s-2-2" checked /><label for="s-2-2"></label>
    <div>
        <img src="https://developer.playphone.com/App/Landing/img/main-slide-5.png" />
        <div class="content">
            <h3>What they say</h3>
            <p>
                Playphone integration has been easy with its simple SDK and we've been able to leverage its real-time dashboard to show results immediately. Playphone's support team is very efficient and is always available with answers and advice. Because of our Leaderboard
                integration we are seeing strong revenue conversion %'s.
            </p>
            <small>
                Kevin Roberts<br />
                CEO<br />
                Mobile Mob
            </small>
        </div>
    </div>
    <style type="text/css">
        #landing .slider-2 img.ratio {
            padding: 0 30.4%;
        }

        #landing .slider-2 {
            margin-top: 6em;
        }

        #landing .slider-2 .content h3 {
            font-size: 1.125em;
            margin: 0 0 3em;
            color: #99ce45;
            text-transform: uppercase;
            font-weight: normal;
        }

        #landing .slider-2 .content p {
            font-size: 1.3em;
            color: #fff;
        }

        #landing .slider-2 .content small {
            font-size: 1.125em;
            margin: 3em 0 0;
            display: block;
            color: #fff;
            text-transform: uppercase;
            font-weight: normal;
        }

        #landing .slider-2 #s-2-1+label+div>.content {
            max-width: 30%;
            margin: 8% 0 0 17%;
        }

        #landing .slider-2 #s-2-1+label+div>.content p {
            font-size: 1.6em
        }

        #landing .slider-2 #s-2-2+label+div>.content {
            max-width: 35%;
            margin: 8% 0 0 16%;
        }
    </style>
</div>
-->

{% include '../components/chapters.html' %}

{% include '../components/events.html' %}

{% include '../components/team.html' %}

{% include '../components/advisors.html' %}

{% include '../components/partner.html' %}

{% endblock %}
