{% extends '../layout.html' %} {% block title %}{% endblock %} {% block content %}

<link rel="stylesheet" href="assets/css/talks.css">

<div class="talks-wrapper talks-roundedCorners">
	<div class="talks-main">
		<h1 class="talks-pageTitle">Talks</h1>
	</div>
</div>
<ul class="talks-top">
    <!-- Loop -->
    {% for talksItem in talksData %}
        <li class="talks-galleryItem">
            <a class="talks-caption" href="{{ talksItem.talkUrl }}" data-title="{{ talksItem.speakerName }}" data-description="{{ talksItem.talkTitle }}"><img src="{{ talksItem.talkImg }}" alt="{{ talksItem.talkTitle }}"></a>
        </li>
    {% endfor %}
    <!-- End -->
</ul>

<a href="https://blockchainedindia.github.io/resources/" class="button button">More Resources</a>
<br /><br />

{% endblock %}
